body {
  font-family: "Lato", sans-serif;
  background-image: url(images/body.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

header, footer, .rules {
  text-align: center;
  color: white;

}

header {
  margin: 30px 0 30px 0;
}

main, .game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center
}

#winner {
  align-items: center;
}

#square, #winner {
  width: 80%;
  height: 500px;
  border: 10px solid black;
  border-image: linear-gradient(360deg, rgb(130, 79, 58), rgb(169, 142, 100));
  border-image-slice: 1;
}

#winner {
  background-image:url(images/img-vainqueur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#winner-one, #winner-two {
  margin-top: 50px;
  font-size: 30px;
  color: rgb(22, 223, 22);
}

.new-game {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 30%;
  margin-right: 30%;
}

.game {
  margin-top: 55px;
}

.button {
  display: flex;
  flex-direction: column;
}

.roll-dice {
  margin-bottom: 20px
}

.current {
  background: rgb(234, 77, 78);
  height: 65px;
  width: 65px;
}

.score-global, .color {
  color: red;
  font-size: 25px
}

.score-current {
  color: white
}

#number {
  display: none
}

.players {
  display: flex;
  font-size: 18px
}

#btn, #btn1, #endOfTurn, #endOfTurn1, .new-game {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 12px;
  background-color: grey;
  box-shadow: 0 9px rgba(128, 128, 128, 0.801);
}

#btn:hover, #btn1:hover, #endOfTurn:hover, #endOfTurn1:hover, .new-game:hover {
  transform: translateY(3px);
  box-shadow: 0 6px rgba(128, 128, 128, 0.801);
}

#btn:active, #btn1:active, #endOfTurn:active, #endOfTurn1:active, .new-game:active {
  transform: translateY(7px);
  box-shadow: 0 2px rgba(128, 128, 128, 0.801);
}

footer {
  margin: 95px 0 0 0;
}